<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
            <%# manage dog left active just so I remember the class for later %>
                <li class="<%= 'active' if current_page?('/doglist') %>"><%= link_to "Manage Dogs", '/doglist' %> </li>
                <li class="<%= 'active' if current_page?('/litters') %>"> <%= link_to "Manage Litters", litters_path %> </li>
                <li class="<%= 'active' if current_page?('/userlist') %>"> <%= link_to "Manage Users", '/userlist' %> </li>
            </ul>
        </div>
    </nav>
</div>
