<h1>Latest Litters!</h1>
<p>This page shows up to three carousels with pictures from the most recent litters.</p>
<p>Originally there was meant to be a lot more going on with litters, but this is all that remains.</p>

<% @highlightedlitter.each do |litter| %>
    <h1> <%= litter.identifier %> </h1>

    <div id="<%= litter.identifier %>Carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
        <% litter.gallery_image.each_with_index do |img, index| %>
            <% if index == 0 %>
                <li data-target="#<%= litter.identifier %>Carousel" data-slide-to="0" class="active"></li>
            <% else %>
                <li data-target="#<%= litter.identifier %>Carousel" data-slide-to="<%= index %>"></li>
            <% end %>
        <% end %>
        </ol>

    <!-- Wrapper for slides? -->
        <div class="carousel-inner">
    <% litter.gallery_image.each_with_index do |img, index| %>
        <% if index == 0 %>
            <div class="item active">
                <img class="center-block" src=<%= url_for(img) %> alt="<%= index+1 %>">
            </div>
        <% else %>
            <div class="item">
                <img class="center-block" src=<%= url_for(img) %> alt="<%= index+1 %>">
            </div>
        <% end %>
    <% end %>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#<%= litter.identifier %>Carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#<%= litter.identifier %>Carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
<% end %>
