<%= render 'dashboard/admintoolbar' %>

<h1>Litters#new</h1>
<p>Find me in app/views/litters/new.html.erb</p>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @litter, local: true) do |f| %>
        
            <%= f.label :identifier, "Name to know litter by" %>
            <%= f.text_field :identifier, class: 'form-control' %>

            <%= f.label :planned_date, "Date planned" %>
            <%= f.date_field :planned_date, class: 'form-control' %>

            <%= f.label :expected_date, "Date expected" %>
            <%= f.date_field :expected_date, class: 'form-control' %>

            <%= f.label :actual_date, "Date delivered (for past litters)" %>
            <%= f.date_field :actual_date, class: 'form-control' %>

            <%= f.submit "Create litter", class: "btn btn-primary" %>
            
        <% end %>
    </div>
</div>