
<h1>My Ads</h1>

<div class="container">
<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Ad Title</th>
            <th>Ad Description</th>
            <th>Price</th>
            <th>Advertising account</th>
        </tr>
    </thead>

    <tbody>
        <% @adverts.each do |advert| %>
            <tr>
                <td><%= advert.title %></td>
                <td><%= advert.description %></td>
                <td> <%= "Placeholder" %> </td>
                <td> <%= advert.dog.user.email %> </td>
                <td><%= link_to 'More details', dog_advert_path(advert.dog, advert), type: "button", class: "btn btn-success" %></td>
                <td><%= link_to 'Edit Ad', edit_dog_advert_path(advert.dog, advert), type: "button", class: "btn btn-warning" %></td>
                <td><%= link_to 'Remove Ad', [advert.dog, advert], method: :delete,
                data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-danger" %></td>
                <td> Posted <%= time_ago_in_words(advert.created_at) %> ago. </td>
            </tr>
        <% end %>
    </tbody>

</table>

    
<%= link_to "Back to my dogs", dogs_path %>