<h1>Transaction History</h1>

<div class="container">
<h2>Dogs sold:</h2>
<% if @paymentss.count == 0 %>
    <p>Looks like you haven't sold any dogs yet!</p>
<% else %>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Payment Number</th>
                <th>Dog Bought</th>
                <th>Buyer</th>
                <th>Seller</th>
                <th>Time Sold</th>
            </tr>
        </thead>

        <tbody>
                <% @paymentss.each do |payment| %>
                    <tr>
                        <td><%= payment.id %></td>
                        <% if payment.dogsold.present? && Dog.where(id: payment.dogsold ).exists?  %>
                            <% @dog = Dog.find(payment.dogsold) %>
                            <td><%= @dog.rname %></td>
                        <% else %>
                            <td><%= "Not recorded" %></td>
                        <% end %>
                        <td> <%= payment.buyer.email %> </td>
                        <td> <%= payment.seller.email %> </td>
                        <td> <%= payment.transaction_time %> </td>
                    </tr>
                <% end %>
        </tbody>
    </table>
<% end %>
</div>
    
<div class="container">
<h2>Dogs bought:</h2>
<% if @paymentsb.count == 0 %>
    <p>Looks like you haven't bought any dogs yet!</p>
<% else %>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Payment Number</th>
                <th>Dog Bought</th>
                <th>Buyer</th>
                <th>Seller</th>
                <th>Time Bought</th>
            </tr>
        </thead>

        <tbody>
                <% @paymentsb.each do |payment| %>
                    <tr>
                        <td><%= payment.id %></td>
                        <% if payment.dogsold.present? && Dog.where(id: payment.dogsold ).exists? %>
                            <% @dog = Dog.find(payment.dogsold) %>
                            <td><%= @dog.rname %></td>
                        <% else %>
                            <td><%= "Not recorded" %></td>
                        <% end %>
                        <td> <%= payment.buyer.email %> </td>
                        <td> <%= payment.seller.email %> </td>
                        <td> <%= payment.transaction_time %> </td>
                    </tr>
                <% end %>
        </tbody>
    </table>
<% end %>
</div>
