<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">

        <%= link_to image_tag("/assets/logo.png", id: "logo", class: "img-responsive img-rounded"), root_path %>

        <nav>
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.email %> <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "My Dogs", dogs_path %></li>
                            <li><%= link_to "My Ads", '/my_ads' %></li>
                            <li><%= link_to "Sale history", payments_path %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        </ul>
                </li>              
            <% else %>
                <li><%= link_to "Login or create an account", new_user_session_path, method: :get %></li>
            <% end %>
                <li><%= link_to "Dogs for sale", adverts_path %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Browse dogs <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Males", '/boys' %></li>
                            <li><%= link_to "Females", '/girls' %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Puppies", '/puppies' %></li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Litters <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Litter Showcase", litter_gallery_path %></li>
                        </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>