<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "dog webapp", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Info", info_path %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Dogs <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Males", '#' %></li>
                            <li><%= link_to "Females", '#' %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Retired", '#' %></li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Litters <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Puppy Signup", '#' %></li>
                            <li><%= link_to "Upcoming Litters", upcoming_path %></li>
                            <li><%= link_to "Litter Showcase", litter_gallery_path %></li>
                        </ul>
                </li>
                <li><%= link_to "Shows", '#' %></li>
            </ul>
        </nav>
    </div>
</header>